<!DOCTYPE html>
<html>

<head>
  <title>Books Manager UI</title>
  <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
</head>

<body>

  <main class="flex flex-row m-2">

    <div class="w-[22.5%] overflow-y-auto fixed h-screen">
      <nav class="relative">
        <h1 class="top-0 text-4xl mb-5 px-2 bg-inherit">Books</h1>
        <ul class="px-2 pb-4">
          {% for book in books %}
          <li class="my-1 truncate">
            <a class="hover:underline" href="/book/{{loop.index0}}">
              <span class="text-sm text-zinc-400">{{ loop.index0 }}</span>
                {{ book.title }}
              <span class="text-zinc-500 text-xs ml">({{ book.itemscount }})</span>
            </a>
          </li>
          {% endfor %}
        </ul>
      </nav>
    </div>

    {% if book %}
    <div class="flex-1 ml-[22.5%] pl-6 pr-4">
      <h1 class="text-4xl mb-5 mt-3">{{ book.title }} - {{ book.author }}</h1>
      <h2>Items: {{ book_items|length }}</h2>
      <ul>
        {% for highlight in book_items %}
        <li>
          <div class="my-4 p-3 border-1 border-b">
            {{ highlight.text }}

            {% if highlight.kind == "annotation" %}
            <div class="my-4 p-3 bg-zinc-100 border border-1">
              {{ highlight.annotation }}
            </div>
            {% endif %}

            <div class="mt-2 flex flex-row justify-between">
              <div class="text-xs text-zinc-400">
                {{ highlight.chapter }}
              </div>

              <div class="text-xs text-zinc-400">
                {{ highlight.dateformatted }}
              </div>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

  </main>

</body>

</html>