<!DOCTYPE html>
<html>

<head>
  <title>Books Manager UI</title>
  <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
</head>

<body>

  <main class="flex flex-row m-2">

    <div class="w-[25%]">
      <h1 class="text-4xl mb-5">Books List</h1>
      <ul class="overflow-x-hidden px-2">
        {% for book in books %}
        <li class="my-1 truncate">
          <a class="hover:underline" href="/book/{{loop.index0}}">
            {{ book.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>

    {% if book %}
    <div class="flex-1">
      <h1 class="text-4xl mb-5">{{ book.title }}</h1>
      <h1 class="text-3xl mb-5">{{ book.author }}</h1>

      <h2>Items: {{book_items|length}}</h2>
      <ul>
        {% for highlight in book_items %}
        <li>
          <div class="my-4 mx-2 p-3 border border-1 rounded">
            {{ highlight.text }}

            {% if highlight.kind == "annotation" %}
            <div class="my-4 mx-2 p-3 border border-1 rounded">
              {{ highlight.annotation }}
            </div>
            {% endif %}

            <div class="text-xs text-gray-500 text-right">
              {{ highlight.datecreated }} - {{ highlight.kind }}
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

  </main>

</body>

</html>